@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    /* display: flex;  */
     height: 100vh;
    justify-content: center;
    align-items: center;
     padding: 10px; 
    background: #fff;
}

.container{
    max-width: 700px;
    margin: auto;
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.container .title{
    align-self: center;
    font-size: 25px;
    font-weight: 500;
    /* position: relative; */
}
/* .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: block;
}

.name {
    display: inline-flex;
    width: 90%;
    justify-content: space-between;
}

#fname {
    width: 100%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
    margin-right: 50px;
}

#lname {
    width: 125%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#address {
    width: 100%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

.residence {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#city {
    width: 100%;
    background-color: rgb(243, 237, 237);
    padding: 5px 50px;
    border: none;
    margin-top: 3px;
    margin-right: 7px;
    border-radius: 3px;
    outline: none;
}

#state {
    width: 65px;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#zip {
    width: 90%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

.personal-details {
    display: inline-flex;
    justify-content: space-between;
}

#phone {
    width: 80%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#bmonth {
    width: 60%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#byear {
    width: 60%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#email {
    width: 97%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}
#pword {
    width: 97%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

#username {
    width: 97%;
    background-color: rgb(243, 237, 237);
    padding: 5px;
    border: none;
    margin-top: 3px;
    border-radius: 3px;
    outline: none;
}

button {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 10px 45px;
    border: none;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;
    
}

.signup {
    margin-left: 550px;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width:584px) {
    .container{
        max-width: 100%;
}
form .form-group .input-box{
    margin-bottom: 15px;
    width: 100%;
}
.container form .form-group{
    max-height: 300px;
    overflow-y: scroll;
}
.user-details::-webkit-scrollbar{
    width: 0;
}
}